{% set route = app.request.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{{ path('default') }}" class="navbar-brand">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
                aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item {{ route starts with 'default' ? 'active' }}">
                    <a href="{{ path('default') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown {{ not app.user ? 'ml-auto' }}">
                    {% if app.user %}
                        <a href="#" class="nav-link dropdown-toggle" id="navbar-user" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Signed in as {{ app.user.email }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar-user">
                            <a href="{{ path('app_logout') }}" class="dropdown-item">Logout</a>
                        </div>
                    {% else %}
                        <a href="#" class="nav-link dropdown-toggle" id="navbar-user" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Not signed in
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar-user">
                            <a href="/login" class="dropdown-item">Sign in</a>
                            <a href="/register" class="dropdown-item">Register</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
