{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">{{ post.title }}</h1>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-info" role="alert">
            Posted by <em>{{ post.creator.email }}</em><br>
            Posted at <abbr title="{{ post.createdAt|date('d-m-Y H:i') }}">{{ post.createdAt|date('d-m-Y') }}</abbr>
            {% if post.editedAt %}
                <br>Last edit at <abbr title="{{ post.editedAt|date('d-m-Y H:i') }}">{{ post.editedAt|date('d-m-Y') }}</abbr>
            {% endif %}
        </div>
        <div class="content">
            {{ post.content|raw }}
            <a href="{{ path('post_edit', {'id': post.id}) }}"><img src="{{ asset('assets/edit.png') }}" alt="Edit post"></a>
        </div>

    <a class="btn btn-primary" href="{{ path('post_index') }}">back to list</a>

    {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
